@import url('https://fonts.googleapis.com/css2?family=Spicy+Rice&family=Varela+Round&display=swap');

* {
    margin: 0;
    padding: 0;
}

:root {
    --fonte-principal: "Spicy Rice", serif;
    --fonte-secundario: "Varela Round", sans-serif;
    --preto: #000000;
    --cinza-escuro: #333333;
    --cinza-claro: #cccccc;
    --branco: #ffffff;
}

body {
    font-family: var(--fonte-principal);
    background-color: var(--cinza-claro);
    color: var(--preto);
}

h1, h3 {
    font-family: var(--fonte-principal);
    color: var(--preto);
}
