@import url('https://fonts.googleapis.com/css2?family=Spicy+Rice&family=Varela+Round&display=swap');

*{
    margin: 0;
    padding: 0;
}

:root{
    --fonte-principal: "Spicy Rice", serif;
    --fonte-secundario: "Varela Round", sans-serif;
    --vermelho-cereja: #780000ff;
    --vermelho-fogo: #c1121fff;
    --mamao: rgb(255, 241, 86);
    --azul-prússia: #003049ff;
    --azul-bebe: #669bbcff;
    --branco: #ffffff;
   
}

body{
    font-family: var(--fonte-principal);
    background-color: var(--mamao);
}

h1,h3{
    font-family: var(--fonte-principal);
}
